body {
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

#bordo {
    width: 80%;
    margin: 10%;
}

header {
}

.logo {
    background-color: black;
    height: 8vh;
    padding: 2rem;
}

#logo-epicode {
    width: 50%;
}

h1 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 2rem;
    font-size: 3rem;
    padding: 1.5rem;
    line-height: 1;
}

img {
    width: 80%;
}

p {
    color: #393d41;
    font-size: 1.2rem;
    line-height: 1.65;
}



